body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.music-player {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 20px;
    padding: 40px 20px;
}

.music-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    font-size: 24px;
    color: #333;
}

.controls button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.controls button.play {
    background-color: #007bff;
}

.controls button.pause {
    background-color: #dc3545;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls input[type="range"] {
    width: 100%;
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ddd;
    height: 5px;
    border-radius: 2px;
    outline: none;
}

.controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

.controls input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

.controls input[type="range"]:focus {
    outline: none;
}

.controls input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background-color: #ddd;
    border-radius: 2px;
}

.controls input[type="range"]::-moz-range-track {
    height: 5px;
    background-color: #ddd;
    border-radius: 2px;
}

.controls input[type="range"]::-webkit-slider-thumb:hover,
.controls input[type="range"]::-moz-range-thumb:hover {
    background-color: #0056b3;
}
